<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VinchyAppClip.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
				<key>dateExpires</key>
				<string>16.04.2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AdvancedSearch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CommonUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Core.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Database.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Display.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EpoxyBars.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EpoxyCollectionView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EpoxyCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EpoxyLayoutGroups.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FittedSheets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SPAlert.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Sheeeeeeeeet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Spotlight.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>StringFormatting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VinchyCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VinchyStore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>VinchyUI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WineDetail.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B99C06EB5300779529473346343AF6500E9E28FB</string>
						<key>dateExpires</key>
						<string>16.04.2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YKG5C7DUKF</string>
						<key>name</key>
						<string>Aleksei Smirnov</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30906.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YKG5C7DUKF.tech.vinchy.Clip</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>appclips:vinchy.tech</string>
				</array>
				<key>com.apple.developer.on-demand-install-capable</key>
				<true/>
				<key>com.apple.developer.parent-application-identifiers</key>
				<array>
					<string>YKG5C7DUKF.tech.vinchy</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>YKG5C7DUKF</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>VinchyAppClip.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2327a3b0-761a-4c14-88d9-a7f9f8e45a6b</string>
				<key>dateExpires</key>
				<string>24.09.2022</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: tech.vinchy.Clip</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YKG5C7DUKF</string>
				<key>name</key>
				<string>Aleksei Smirnov</string>
			</dict>
			<key>versionNumber</key>
			<string>1.15</string>
		</dict>
	</array>
</dict>
</plist>
