<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>404216268547-4ovevfsm24g5enhf7vuqp6e0o1vp62er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.404216268547-4ovevfsm24g5enhf7vuqp6e0o1vp62er</string>
	<key>API_KEY</key>
	<string>AIzaSyAj7oyr6KPhJT9DALZbdUzu0ETEk6KI4ao</string>
	<key>GCM_SENDER_ID</key>
	<string>404216268547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.vinchy</string>
	<key>PROJECT_ID</key>
	<string>vinchy-ecc9b</string>
	<key>STORAGE_BUCKET</key>
	<string>vinchy-ecc9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:404216268547:ios:e215df55a3f47da40d4b36</string>
	<key>DATABASE_URL</key>
	<string>https://vinchy-ecc9b.firebaseio.com</string>
</dict>
</plist>