<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860558958195-vqpmdg24lqipl2f31lj5c5jn4b9j7im4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860558958195-vqpmdg24lqipl2f31lj5c5jn4b9j7im4</string>
	<key>API_KEY</key>
	<string>AIzaSyAYAEomHF_4JeeDHG42U8rdhyANi9NK5DI</string>
	<key>GCM_SENDER_ID</key>
	<string>860558958195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smirnov-development.Smart</string>
	<key>PROJECT_ID</key>
	<string>smart-5c167</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-5c167.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860558958195:ios:868ce8028b25c005ba1406</string>
	<key>DATABASE_URL</key>
	<string>https://smart-5c167.firebaseio.com</string>
</dict>
</plist>